###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=CHANGE_ME_generate_random_32_char_string
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://newsletter_user:CHANGE_ME_strong_db_password@db:5432/newsletter_db?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=CHANGE_ME_strong_random_passphrase
###< lexik/jwt-authentication-bundle ###

###> nelmio/cors-bundle ###
# Development: '^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
# Production: '^https://yourdomain\.com$'
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> symfony/mailer ###
# Development: null://null
# Production: smtp://user:pass@smtp.example.com:587
MAILER_DSN=null://null
###< symfony/mailer ###

# Base URL used for tracking links and unsubscribe URLs
DEFAULT_URI=http://localhost:8011
